@import '../common/scss/variables.scss';
@import '../common/scss/mixins.scss';

.slider {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  @include px(margin-bottom, 10, 38.17);

  &__header {
    font-weight: normal;
    @include px(font-size, 12.8, 14.4);
    @include px(line-height, 24, 24);
    @include px(margin-bottom, 8, 8);
  }

  &__limit {
    @include px(font-size, 14.5, 20);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    flex: 0;
  }

  &__min {
    @include px(min-width, 21, 26);
  }

  &__range {
    margin: auto;
    padding: 0;
    @include px(margin-left margin-right, 12, 16);
    @include px(width, 148, 440);
    @include px(height, 8, 16);
    border: none;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      background: transparent;
      border: none;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      background: #ffffff;
      border-radius: 50%;
      @include px(width, 8, 16);
      @include px(height, 8, 16);
      transform: scale(2.25);
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.09);
      cursor: pointer;
    }
  }

  &__number {
    @include px(min-width, 88, 88);
    @include px(width, 88, 88);
    @include px(margin-left, 10, 12);
    padding: 0;
    text-align: center;
  }
}
